<% layout('layouts/boilerplate') %>
<div class="row d-flex justify-content-center">
  <div class="col-lg-6 mt-3">
    <div
      class="col-lg-md-4 d-flex justify-content-between align-items-center mt-5 mb-2"
    >
      <div class="d-flex justify-content-center align-items-center">
        <h1 class="mx-3">All Posts</h1>

        <div class="dropdown">
          <button
            class="btn btn-outline-primary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sort by
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/p/popular/new">New</a>
            </li>
            <li>
              <a class="dropdown-item" href="/p/popular/best">Best</a>
            </li>
          </ul>
        </div>
      </div>
      <a
        style="height: 40%; max-height: fit-content"
        class="btn3d mx-3 btn btn-primary align-self-middle"
        type="button"
        href="/p/new"
      >
        <i class="fa-solid fa-file-pen fa-lg me-1" style="color: #ff7800"></i
        >Create
      </a>
    </div>
    <% for(let page of pages) { %>
    <div class="tile card mb-5 position-relative">
      <div class="card-header">
        <div class="card-title mt-1 ms-2"><%= page.title %></div>
        <hr class="my-1" />
        <div class="d-flex justify-content-between align-items-center">
          <span class="text-small z-2"
            >-By
            <a href="/<%= page.author.username %>/view">
              <img
                class="author"
                src="<%= page.author.optional.realPath %>"
                alt=""
              />
              <%= page.author.username %></a
            >
          </span>
          <span class="text-muted text-small"> <%= page.humanDate %></span>
        </div>
      </div>

      <% if(page.img.path) {%>
      <div class="col-6 offset-3">
        <img class="img-fluid my-2" src="<%= page.img.path %>" />
      </div>
      <% } %>
      <div class="card-body my-2"><%= page.body %></div>
      <div class="d-flex card-footer justify-content-between">
        <form id="likeForm" action="/p/<%= page._id  %>/like" method="POST">
          <span
            class="mr-auto d-flex justify-content-center align-items-center"
          >
            <% if (currentUser && page.likes.includes(currentUser._id)) { %>
            <button class="tag3d btn px-1 z-2">
              <i class="fa-solid fa-lg fa-heart" style="color: #e01b24"></i>
            </button>
            <% }else { %>
            <button class="tag3d btn px-1 z-2">
              <i class="fa-regular fa-lg fa-heart" style="color: #e01b24"></i>
            </button>
            <% } %> <%= page.likes.length %></span
          >
        </form>

        <!-- <span class="d-flex justify-content-center align-items-center"
          ><% if (currentUser && page.likes.includes(currentUser._id)) { %>
          <i
            class="tag3d fa-solid fa-lg fa-heart px-1"
            style="color: #e01b24"
          ></i>
          <% }else { %>
          <i
            class="tag3d fa-regular fa-lg fa-heart px-1"
            style="color: #e01b24"
          ></i>
          <% } %> <%= page.likes.length %></span
        > -->
        <div class="d-flex justify-content-center align-items-center">
          <span
            ><% if (currentUser && page.comments.some(x=>
            x.author===currentUser)) { %>
            <i class="fa-solid fa-comment fa-lg"></i>
            <% }else { %>
            <i class="fa-regular fa-comment fa-lg"></i>
            <% } %> <%= page.comments.length %></span
          >
          <span class="mx-1 ms-2">
            <a
              class="btn3d btn btn-sm btn-info text-dark stretched-link"
              type="button"
              href="/p/<%= page._id %>"
              >Details</a
            ></span
          >
        </div>
      </div>
    </div>
    <% } %>

    <nav class="pagify" aria-label="Page navigation example">
      <ul
        class="pagination d-flex justify-content-center align-items-center pt-5 my-5"
      >
        <li class="page-item">
          <% if(currentPage<=1){%>
          <a class="page-link disabled" href="?page=<%= currentPage-1 %>"
            >Previous</a
          >
          <%}else {%>
          <a class="page-link" href="?page=<%= currentPage-1 %>">Previous</a>
          <%}%>
        </li>
        <li class="page-item">
          <a class="page-link active" href="?page=<%= currentPage %>"
            ><%= currentPage %></a
          >
        </li>
        <% for(let i=currentPage+1; i<totalPages; i++) {%>
        <li class="page-item">
          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>
        <%}%>
        <li class="page-item">
          <%if(parseInt(currentPage)===totalPages){%>
          <a
            class="page-link disabled"
            href="?page=<%= parseInt(currentPage) + 1 %>"
            >Next</a
          >
          <%}else{%>
          <a class="page-link" href="?page=<%= parseInt(currentPage) + 1 %>"
            >Next</a
          >
          <%}%>
        </li>
      </ul>
    </nav>
  </div>
</div>
