<% layout("layouts/boilerplate") %>

<div class="col-6 offset-3 mt-5">
  <div class="card mb-5">
    <div class="card-header">
      <div class="card-title"><%= foundPage.body %></div>
      <span>-By <%= foundPage.author %></span>
    </div>
    <div class="col-4 offset-4">
      <img class="img-fluid my-2" src="<%= foundPage.img %>" />
    </div>
    <div class="card-footer">
      <span class="mr-auto">likes: <%= foundPage.likes %></span>
      <div class="d-flex justify-content-end">
        <div>
          <a class="btn btn-sm btn-secondary" type="button" href="/p">Back</a>
        </div>
        <div>
          <a
            class="btn btn-sm btn-info"
            type="button"
            href="/p/<%= foundPage._id %>/edit"
            >Edit</a
          >
        </div>
        <div>
          <form action="/p/<%= foundPage._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
