<% layout("layouts/boilerplate") %>

<div class="row justify-content-center">
  <div class="col-lg-6 mt-4">
    <div class="card mb-5">
      <div class="card-header">
        <div class="card-title mt-1 ms-2"><%= foundPage.title %></div>
        <hr class="my-1" />
        <div class="d-flex justify-content-between align-items-center">
          <span class="text-small"
            >-By
            <img
              class="author"
              src="<%= foundPage.author.optional.realPath %>"
              alt=""
            />
            <a class="tag3d" href="/<%= foundPage.author.username %>/view"
              ><%= foundPage.author.username %></a
            ></span
          >
          <span class="text-muted text-small">
            <%= foundPage.humanDate %>
          </span>
        </div>
      </div>
      <% if(foundPage.img.path) {%>
      <div class="col-6 offset-3">
        <img class="img-fluid my-2" src="<%= foundPage.img.path %>" />
      </div>
      <% } %>
      <div class="card-body my-1"><%= foundPage.body %></div>
      <div class="card-footer d-flex justify-content-between py-2">
        <form
          id="likeForm"
          action="/p/<%= foundPage._id  %>/like"
          method="POST"
        >
          <span
            class="mr-auto d-flex justify-content-center align-items-center"
          >
            <% if (currentUser && foundPage.likes.includes(currentUser._id)) {
            %>
            <button class="tag3d btn px-1">
              <i class="fa-solid fa-lg fa-heart" style="color: #e01b24"></i>
            </button>
            <% }else { %>
            <button class="tag3d btn px-1">
              <i class="fa-regular fa-lg fa-heart" style="color: #e01b24"></i>
            </button>
            <% } %> <%= foundPage.likes.length %></span
          >
        </form>
        <div class="d-flex align-items-center">
          <div>
            <a class="btn3d btn btn-sm btn-secondary" type="button" href="/p"
              >Back</a
            >
          </div>
          <% if(currentUser && foundPage.author.equals(currentUser)) {%>
          <div>
            <a
              class="mx-1 btn btn-sm btn-info btn3d"
              type="button"
              href="/p/<%= foundPage._id %>/edit"
              >Edit</a
            >
          </div>
          <form action="/p/<%= foundPage._id %>?_method=DELETE" method="POST">
            <button class="btn3d btn btn-sm btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mt-4">
    <form
      class="needs-validation"
      action="/p/<%= foundPage._id %>/comments"
      method="POST"
      novalidate
    >
      <div class="card">
        <div class="form-group">
          <div class="card-header">
            <label for="exampleFormControlTextarea1">Comment text</label>
          </div>
          <div class="card-body">
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              placeholder="Write here..."
              name="comment[body]"
              required
            ></textarea>
          </div>
        </div>

        <div class="card-footer">
          <button class="btn3d btn btn-sm btn-success">Submit</button>
        </div>
      </div>
    </form>
    <div class="mt-3">
      <% for (let comment of foundPage.comments) {%>
      <div class="card mb-2">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <span class="text-small"
            >-By
            <img
              class="author"
              src="<%= comment.author.optional.realPath %>"
              alt=""
            />
            <a class="tag3d" href="/<%= comment.author.username %>/view"
              ><%= comment.author.username %></a
            ></span
          >
          <span class="text-muted text-small"><%= comment.humanDate %></span>
        </div>
        <div class="card-body"><%= comment.body %></div>

        <div class="card-footer d-flex justify-content-between">
          <div>
            <form
              id="likeComment"
              action="/p/<%= foundPage._id  %>/comments/<%= comment._id %>"
              method="POST"
            >
              <span
                class="mr-auto d-flex justify-content-center align-items-center"
              >
                <% if (currentUser && comment.likes.includes(currentUser._id)) {
                %>
                <button class="btn px-1">
                  <i
                    class="tag3d fa-solid fa-lg fa-heart"
                    style="color: #e01b24"
                  ></i>
                </button>
                <% }else { %>
                <button class="btn px-1">
                  <i
                    class="tag3d fa-regular fa-lg fa-heart"
                    style="color: #e01b24"
                  ></i>
                </button>
                <% } %> <%= comment.likes.length %></span
              >
            </form>
          </div>
          <% if(currentUser && comment.author.equals(currentUser)) {%>
          <div class="d-flex justify-content-end">
            <a
              href="/p/<%= foundPage._id %>/comments/<%= comment._id %>/edit"
              class="mx-1 btn btn-warning btn3d"
              >Edit</a
            >
            <form
              action="/p/<%= foundPage._id %>/comments/<%= comment._id %>?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-danger btn3d">Delete</button>
            </form>
          </div>

          <% } %>
        </div>
      </div>

      <% } %>
    </div>
  </div>
</div>
